# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# macOS
.DS_Store

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Temporary files
*.tmp

# Python cache
.pytest_cache/

# Environment variables
.env

# Generated data
data/generated/*.csv
data/generated/*.xlsx
data/generated/*.json

# Tableau temporary files
*.twb~